<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mesmineraux/index.css' %}">
<nav>
    <ul>
        <li id="logo"><a href="#">Mineraux</a></li>
        <a href ="/mesmineraux/ajout">Ajouter une pierre</a>
    </ul>
</nav>
    <title>liste mineraux</title>
</head>
<style>
    body {
    background-image: url("{% static '/mesmineraux/fondclaire.webp.png' %}");
    }
</style>
<body>
<br> <br> <br> <br>
<h1> Bienvenue dans le monde des mineraux </h1>
<br>
<h2> liste des pierres </h2>
<ul>
{% for l in liste %}
<li> pierre {{l.id}} : {{l}}
    <a href ="/mesmineraux/affiche/{{l.id}}/"> Afficher la description de la pierre</a>
    <a href ="/mesmineraux/delete/{{l.id}}/"> Supprimer</a>
    <a href ="/mesmineraux/update/{{l.id}}/"> mettre a jour</a>
</li>
    {% endfor %}
</ul>
<br><br><br>
<h3>liste des livres</h3>
<br><br>
<li>
    <a href ="/mesmineraux/indexlivre/">Aller sur le site des livres</a>
</li>
<br><br>
</body>
</html>