</head>
<body>
<br> <br> <br> <br>
<h1> Bienvenue dans le monde des mineraux </h1>
<br>
<h2> liste des livres </h2>
<ul>
{% for l in liste %}
<li> livre {{l.id}} : {{l}}
    <a href ="/mesmineraux/affichelivre/{{l.id}}/"> Afficher la description de la pierre</a>
    <a href ="/mesmineraux/deletelivre/{{l.id}}/"> Supprimer</a>
    <a href ="/mesmineraux/updatelivre/{{l.id}}/"> mettre a jour</a>
</li>
    {% endfor %}
</ul>
<br><br><br>
<h3>liste des livres</h3>
<br><br>
<li>
    <a href="/mesmineraux/index/"> Aller sur le site des pierres</a>
</li>
</body>
</html>