h1 {
    font-family: 'Goudy Old Style', cursive;
    text-align: center;
    color: rgb(193, 221, 32);
    font-size: 6.5em;
    margin-top: 120px;
    text-shadow: 1px 3px 2px black;
}

html {
    scroll-behavior: smooth;
}

nav {
    overflow: hidden;
    background-color: #f5f2e6;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
li {
    list-style-type: none;
    font-size: 1.5em;
}

header li a {
  text-decoration: underline;
  display: block;
  text-align: center;
  padding: 28px 22px;
  font-family: 'Goudy Old Style', cursive;
}

#logo {
    font-family: 'Georgia', cursive;
    font-weight: bold;
    float: left;

body {
    background-image: url("fondclaire.webp.png");
}
